@model LoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from demo.hasthemes.com/adomx-preview/dark/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Sep 2019 20:55:53 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adomx - Responsive Bootstrap 4 Admin Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/admin/assets/images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="~/admin/assets/css/style-primary.css">

</head>

<body class="skin-dark">

    <div class="main-wrapper">

        <!-- Content Body Start -->
        <div class="content-body m-0 p-0">

            <div class="login-register-wrap">
                <div class="row">

                    <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
                        <div class="login-register-form-wrap">

                            <div class="content">
                                <h1>Sign in</h1>
                            </div>

                            <div class="login-register-form mt-20">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="alert-danger mb-3"></div>
                                    <div class="row">
                                        <div class="col-12 mb-20">
                                            <input asp-for="Email" class="form-control" id="email" placeholder="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>

                                        <div class="col-12 mb-20">
                                            <input asp-for="Password" class="form-control" id="inputPassword" placeholder="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="col-12 mb-20">
                                            <label asp-for="RememberMe" class="adomx-checkbox-2">
                                                <input asp-for="RememberMe"><i class="icon"></i>Remember.
                                            </label>
                                        </div>
                                        <div class="col-12">
                                            <div class="row justify-content-between">
                                                <div class="col-auto mb-15">Dont have account? <a asp-controller="AccountAdmin" asp-action="Register">Create Now.</a></div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-10"><button type="submit" class="button button-primary button-outline">sign in</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
                        <div class="content">
                            <h1>Sign in</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- Content Body End -->

    </div>

    <!-- JS
    ============================================ -->
    <!-- Global Vendor, plugins & Activation JS -->
    <script src="~/admin/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/admin/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/admin/assets/js/vendor/popper.min.js"></script>
    <script src="~/admin/assets/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="~/admin/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/admin/assets/js/plugins/tippy4.min.js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <!--Main JS-->
    <script src="~/admin/assets/js/main.js"></script>

</body>


<!-- Mirrored from demo.hasthemes.com/adomx-preview/dark/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Sep 2019 20:55:53 GMT -->
</html>
