.color-1{
    background-color: lawngreen;
    height: 200px;
}
.color-2{
    background-color: lightcoral;
    height: 200px;
}
.color-3{
    background-color: red;
    height: 200px;
}
.color-4{
    background-color: royalblue;
    height: 200px;
}
.navbar-expand-lg .navbar-toggler {
    display: block;
    margin-left: auto !important;
}