* {
    box-sizing: border-box;
  }
  
  .wrapper {
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-1 {
    flex: calc(100% / 12 * 1) 0 0;
  }
  
  .col-2 {
    flex: calc(100% / 12 * 2) 0 0;
  }
  
  .col-3 {
    flex: calc(100% / 12 * 3) 0 0;
  }
  
  .col-4 {
    flex: calc(100% / 12 * 4) 0 0;
  }
  
  .col-5 {
    flex: calc(100% / 12 * 5) 0 0;
  }
  
  .col-6 {
    flex: calc(100% / 12 * 6) 0 0;
  }
  
  .col-7 {
    flex: calc(100% / 12 * 7) 0 0;
  }
  
  .col-8 {
    flex: calc(100% / 12 * 8) 0 0;
  }
  
  .col-9 {
    flex: calc(100% / 12 * 9) 0 0;
  }
  
  .col-10 {
    flex: calc(100% / 12 * 10) 0 0;
  }
  
  .col-11 {
    flex: calc(100% / 12 * 11) 0 0;
  }
  
  .col-12 {
    flex: calc(100% / 12 * 12) 0 0;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  .justify-start {
    justify-content: flex-start;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-evenly {
    justify-content: space-evenly;
  }
  .justify-around {
    justify-content: space-around;
  }
  
  @media screen and (max-width: 1024px) {
    .col-t-1 {
      flex: calc(100% / 12 * 1) 0 0;
    }
  
    .col-t-2 {
      flex: calc(100% / 12 * 2) 0 0;
    }
  
    .col-t-3 {
      flex: calc(100% / 12 * 3) 0 0;
    }
  
    .col-t-4 {
      flex: calc(100% / 12 * 4) 0 0;
    }
  
    .col-t-5 {
      flex: calc(100% / 12 * 5) 0 0;
    }
  
    .col-t-6 {
      flex: calc(100% / 12 * 6) 0 0;
    }
  
    .col-t-7 {
      flex: calc(100% / 12 * 7) 0 0;
    }
  
    .col-t-8 {
      flex: calc(100% / 12 * 8) 0 0;
    }
  
    .col-t-9 {
      flex: calc(100% / 12 * 9) 0 0;
    }
  
    .col-t-10 {
      flex: calc(100% / 12 * 10) 0 0;
    }
  
    .col-t-11 {
      flex: calc(100% / 12 * 11) 0 0;
    }
  
    .col-t-12 {
      flex: calc(100% / 12 * 12) 0 0;
    }
  }
  
  @media screen and (max-width: 560px) {
    [class*="col-"] {
      flex: 100% 0 0;
    }
    .col-m-1 {
      flex: calc(100% / 12 * 1) 0 0;
    }
  
    .col-m-2 {
      flex: calc(100% / 12 * 2) 0 0;
    }
  
    .col-m-3 {
      flex: calc(100% / 12 * 3) 0 0;
    }
  
    .col-m-4 {
      flex: calc(100% / 12 * 4) 0 0;
    }
  
    .col-m-5 {
      flex: calc(100% / 12 * 5) 0 0;
    }
  
    .col-m-6 {
      flex: calc(100% / 12 * 6) 0 0;
    }
  
    .col-m-7 {
      flex: calc(100% / 12 * 7) 0 0;
    }
  
    .col-m-8 {
      flex: calc(100% / 12 * 8) 0 0;
    }
  
    .col-m-9 {
      flex: calc(100% / 12 * 9) 0 0;
    }
  
    .col-m-10 {
      flex: calc(100% / 12 * 10) 0 0;
    }
  
    .col-m-11 {
      flex: calc(100% / 12 * 11) 0 0;
    }
  
    .col-m-12 {
      flex: calc(100% / 12 * 12) 0 0;
    }
  }