
@{
    Layout = null;
}


@{
    ViewData["Title"] = "Error";
}


    <div class="container-fluid">
        <div class="row img-center">
            <div class="col-12">
                <img src="~/img/error/404-animated-console-600h.gif" alt="Alternate Text" />
            </div>
        </div>
    </div>

    <style>
        .img-center{
            display:flex;
            justify-content:center;
        }
    </style>

