
@model Categorie
@{
    ViewData["Title"] = "Detail";
}

<div class="content-body">
    <div class="row">
        <div class="col-12">
            <span class="text-info">Name:</span>
            <p>@Model.Name</p>
            <div class="row mt-15">
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-outline-info"><span class="fa fa-arrow-left"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

