
@{
    ViewBag.Title = "Cartype";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3 class="font-family avs">
    Car Type
    <button type="button" class="btn btn-primary ml-sty" style="margin-left:30px;" data-toggle="modal" data-target="#examplemodal" data-whatever="mdo"><i class="fa fa-plus-square" style="padding-right:10px;"></i> Create New</button>

</h3>
<div class="modal fade" id="examplemodal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new Type form</h5>
                <button type="button" class="close" data-dissmiss="modal" aria-label="close">
                    <span aria-hidden="true" &times;></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row mm">
                            <div class="col-md-5"><label for="recipient-name" class="col-form-label" style="float:left"> Car Type</label></div>
                            <div class="col-md-7"><input type="text" class="form-control" id="cartype" style="float:left;" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="AddButton">Add Type</button>
        </div>
    </div>
</div>
<div id="tablediv">
    @{
        List<SWCars.Models.DataModels.CarType> typelist = (List<SWCars.Models.DataModels.CarType>)ViewBag.CarypeList;

        if (typelist == null || typelist.Count == 0)
        {
            <p class="font-family" style="font-size:15px;">Hecbir marka Tapilmadi</p>
        }
        else
        {
            <table class="table">
                <thead class="thead-light">
                    <tr class="font-family">
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in typelist)
                    {
                        <tr id="@item.Id" class="font-family" style="background-color:aquamarine;">
                            <td class='rowCell'>@item.CarTypeName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function () {

        $('button#AddButton').click(function () {
            var cartype = $('input#cartype').val();
            if (cartype.length == 0) {
                alert('Type daxil edilmemisdir');
            }
            $('input#cartype').val('');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("addtype","CarType")',
                dataType: 'json',
                data: { type: cartype },
                success: function (data) {
                    if (data.Status==true) {

                        var rowsCount = ("tbody tr").length();
                        var table, rows;
                        if (rowsCount==0) {
                            $("p").remove();
                            table = "<table class='table'><thead class='thead-light'><tr class='font-family'><th>Type</th></tr></thead><tbody><tr id=" + data.Message + " class='font-family'><td class='rowCell'>" + cartype + "</td></tr>";
                            $("div#tablediv").html(table);
                        }
                        else {
                            rows = $("tbody").html() + "<tr id=" + data.Message + " class='font-family'><td class='rowCell'>" + cartype + "</td></tr>";
                            $("tbody").html(rows);
                        }
                    }
                    else if (data.Status==false) {
                        alert(data.Message);

                    }

                },
                error: function () {

                }

            });
            $('.modal').modal('hide');
        });

    });


</script>

